<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="../css/landing.css">
<script src="../js/landing.js"></script>
<meta http-equiv='refresh' content='2;url=main.html'>
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(../images/caterory_slide_01.jpg);"><h1>Welcome to Gaeun's Shop</h1></div>
            <div class="swiper-slide" style="background-image: url(../images/caterory_slide_02.jpg);" data-swiper-autoplay="5000"><h2>Fasion!</h2></div>
            <div class="swiper-slide" style="background-image: url(../images/caterory_slide_03.jpg);"><h1> All the Latest Fashion Trends for the Stylish You.</h1></div>
            <div class="swiper-slide" style="background-image: url(../images/caterory_slide_04.jpg);"><h2>Enjoy Your time.</h2></div>
        </div>
    </div>
</body>
</html>